name: "GEDCOM"
scopeName: "source.gedcom"
fileTypes: [
	"ged"
]
patterns: [
	{
		match: "^((^0)|(^1)|(^2)|(^3)|(^4)|(^5)) ((([A-Za-z0-9_]+) (@[^@]+@))|(@[^@]+@ |)([A-Za-z0-9_]+))([^\\n\\r]*|)$";
		captures:
			"2":
				name: "ged.level.level0.gedcom"
			"3":
				name: "ged.level.level1.gedcom"
			"4":
				name: "ged.level.level2.gedcom"
			"5":
				name: "ged.level.level3.gedcom"
			"6":
				name: "ged.level.level4.gedcom"
			"7":
				name: "ged.level.level5.gedcom"
			"11":
				name: "ged.xrefID.gedcom"
			"12":
				name: "ged.xrefID.gedcom"
			"13":
				name: "ged.type.gedcom"
			"10":
				name: "ged.type.gedcom"	
			"14":
				name: "ged.description.gedcom"
	}
]